<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%- if has_flash?(:default) %>
  <h3>Default Flash Messages:</h3>
  <%= flush_flash(:default, using: "shared/flash_messages") %>
<%- end %>

<%= yield %>

<h3>Flash Messages Assigned to :bottom will be in the following</h3>

<%= flush_flash(:bottom, using: "shared/flash_messages") %>

</body>
</html>
